{% extends "amazon/base.html" %}
{% block cats %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'amazon-cart' %}">Shopping Cart</a>
        </li>
    </ul>
{% endblock %}
{% block content %}
    <br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Items</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Operation</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <th>
                        <a href="{% url 'amazon-one-product' item.product.name %}" class="text-decoration-none">
                            {{ item.product.name }}
                        </a>
                    </th>
                    <td>{{ item.product.price }}</td>
                    <td>{{ item.product_num }}</td>
                    <td>
                        <form action="{% url 'amazon-cart' %}" method="post">
                            {% csrf_token %}
                            <input type="submit" value="remove" class="btn btn-link">
                            <input type="hidden" name="remove" value="{{ item.id }}" style="visibility: hidden;">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p class="text-end">Total Price:  ${{ total_price }}</p>
    {% if items %}
        <div class="col-12">
            <a href="{% url 'amazon-products' %}" class="btn btn-primary">Shop More</a>
        </div>
        <br>
        <div class="col-12">
            <a href="{% url 'amazon-checkout' %}" class="btn btn-primary">Proceed to Checkout</a>
        </div>
    {% else %}
        No Items In Your Cart Now
        <br>
        <br>
        <a href="{% url 'amazon-products' %}" class="btn btn-primary">Shop Now</a>
    {% endif %}
    <br>
{% endblock content %}