{% extends "amazon/base.html" %}
{% block cats %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">All Products</a>
        </li>
        <li class="nav-item">
            {% for category in categories %}
                <a class="nav-link" href="#">{{ category.name }}</a>
            {% endfor %}
        </li>
    </ul>
{% endblock %}

{% block content %}
    <br>
    {% if user.is_authenticated %}
        <h2>Welcome, {{user.username}}!</h2>
    {% else %}
        <h2>Welcome, visitor!</h2>
    {% endif %}
{% endblock content %}
