{% extends "amazon/base.html" %}
{% block content %}
    <br>
    {% if user.is_authenticated %}
        <h2>Welcome, {{user.username}}!</h2>
        <br>
        <a href="{% url 'amazon-products' %}" class="btn btn-primary">Shop Now</a>
    {% else %}
        <h2>Welcome, visitor!</h2>
        <a href="{% url 'amazon-products' %}" class="btn btn-primary">Login Now</a>
        <div class="border-top pt-3">
            <small class="text-muted">
                <a class="ml-2" href="{% url 'register' %}"> Create a new account Here</a>
            </small>
        </div>
    {% endif %}
{% endblock content %}
