{% extends "amazon/base.html" %}
{% block cats %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'amazon-orders' %}">Your Orders</a>
        </li>
    </ul>
{% endblock %}
{% block content %}
    <br>
    <h4>Order Detatil #{{ package.id }}</h4>
    <div class="badge bg-primary text-wrap" style="width: 6rem;">
        Status:  {{ package.status }}
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <th>{{ item.product.name }}</th>
                    <td>${{ item.product.price }}</td>
                    <td>{{ item.product_num }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p class="text-end">Total Price:  ${{ package.package_price }}</p>
    <p>Confirm Time:  {{ package.create_time }}</p>
    <fieldset>
        <legend>Logistics Information:</legend>
        <p>Destination_x:  {{ package.destination_x }}</p>
        <p>Destination_y:  {{ package.destination_y }}</p>
        {% if package.ups_verified == True %}
            {% if package.ups_account == '' %}
                <p>UPS Account: Not Specified</p>
            {% else %}
                <p>UPS Account: {{ package.ups_account }}</p>
            {% endif %}
        {% else %}
            {% if package.ups_account == '' %}
                <p>UPS Account: Not Specified</p>
            {% else %}
                <p>UPS Account: Under Review</p>
            {% endif %}
        {% endif %}
    </fieldset>
{% endblock content %}