{% extends "amazon/base.html" %}
{% block cats %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'amazon-orders' %}">Your Orders</a>
        </li>
    </ul>
{% endblock %}
{% block content %}
    <br>
    <h4>Order Detatil #{{ package.id }}</h4>
    <fieldset>
        <legend>Current Status:  {{ package.status }}</legend>
    </fieldset>
    {% for item in items %}
        <fieldset>
            <legend>Product Information:</legend>
            <p>Product:  {{ item.product.name }}</p>
            <p>Category:  {{ item.product.category }}</p>
            <p>Quantity:  {{ item.product_num }}</p>
            <p>Sale price: {{ item.product.price }}</p>
        </fieldset>
    {% endfor %}
    <fieldset>
        <legend>Total Price:  {{ package.package_price }}</legend>
        <p>Confirm Time:  {{ package.create_time }}</p>
    </fieldset>
    <fieldset>
        <legend>Logistics Information:</legend>
        <p>Destination_x:  {{ package.destination_x }}</p>
        <p>Destination_y:  {{ package.destination_y }}</p>
        {% if package.ups_verified == True %}
            {% if package.ups_account == '' %}
                <p>UPS Account: Not Specified</p>
            {% else %}
                <p>UPS Account: {{ package.ups_account }}</p>
            {% endif %}
        {% else %}
            {% if package.ups_account == '' %}
                <p>UPS Account: Not Specified</p>
            {% else %}
                <p>UPS Account: Under Review</p>
            {% endif %}
        {% endif %}
    </fieldset>
{% endblock content %}