{% extends "amazon/base.html" %}
{% block cats %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'amazon-orders' %}">Your Orders</a>
        </li>
    </ul>
{% endblock %}
{% block content %}
    <br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Ordered Time</th>
                <th scope="col">Items</th>
                <th scope="col">Price</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for package in packages %}
                <tr>
                    <td>{{ package.create_time }}</td>
                    <td>
                        {% for i in package.item.all %}
                            {{ i.product.name }}
                        {% endfor %}
                    </td>
                    <td>{{ package.package_price }}</td>
                    <td>{{ package.status }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}