{% extends "amazon/base.html" %}
{% block cats %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'amazon-orders' %}">Your Orders</a>
        </li>
    </ul>
{% endblock %}
{% block content %}
    <style>
        table td {
            text-align: center;
        }
        table th {
            text-align: center;
        }
    </style>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Ordered Time</th>
                <th scope="col">Items</th>
                <th scope="col">Price</th>
                <th scope="col" style="float: center; text-align: center;">Status</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            {% for package in packages %}
                <tr>
                    <td>{{ package.create_time }}</td>
                    <td>
                        {% for i in package.items.all %}
                            {{ i.product.name }};
                        {% endfor %}
                    </td>
                    <td>{{ package.package_price }}</td>
                    <td style="float: center; text-align: center;">
                        {% if package.status == 'delivered' %}
                            <div class="badge bg-success text-wrap" style="width: 8rem;">
                                Status:  {{ package.status }}
                            </div>
                        {% else %}
                            <div class="badge bg-primary text-wrap" style="width: 8rem;">
                                Status:  {{ package.status }}
                            </div>
                        {% endif %}
                    </td>
                    <td><a href="{% url 'amazon-one-order' package.id %}">view</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if packages %}
    {% else %}
            No Orders In Your Order History
            <br>
            <br>
            <a href="{% url 'amazon-products' %}" class="btn btn-primary">Shop Now</a>
    {% endif %}
{% endblock content %}